<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
  >

<Package UpgradeCode="EBABC970-1899-4087-9F41-371ED8EF81FF" Language="1033"
  Manufacturer="Bob -- K6RWY" Name="RacesTraining"
  Version="!(bind.fileVersion.RACES_Training.cmp)" InstallerVersion="500"
  >

  <SummaryInformation Manufacturer="Bob -- K6RWY" Description="Installs RacesTraining"
    Comments="Copyright (c) Bob -- K6RWY"
    />

  <MajorUpgrade Schedule="afterInstallInitialize"
    AllowDowngrades="no" IgnoreRemoveFailure="no" AllowSameVersionUpgrades="no"
    DowngradeErrorMessage="A newer version of [ProductName] is already installed."
    />

  <MediaTemplate EmbedCab="yes" />

  <WixVariable Id="WixUILicenseRtf"
                              Value="$(var.SolutionDir)..\..\Library\License\MITLicenseFile.rtf" />

  <Property Id="WIXUI_INSTALLDIR" Value="RACESTRAINING.PFF" />

  <UI Id="My_InstallDir.ui">
    <ui:WixUI Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </UI>

  <WixVariable Id="WixUIDialogBmp" Value="C:\Program Files (x86)\WixApp\dialog.bmp" />
  <WixVariable Id="WixUIBannerBmp" Value="C:\Program Files (x86)\WixApp\banner.bmp" />

  <Icon Id="RacesTraining_Icon.exe"
                       SourceFile="$(var.SolutionDir)..\RacesTraining.prj\res\RacesTraining.ico" />
  <Property Id="ARPPRODUCTICON" Value="RacesTraining_Icon.exe" />

  <Feature Id="ProductFeatures" Title="Main Product" Level="1">
    <ComponentGroupRef Id="RacesTraining.ftr" />
    <ComponentGroupRef Id="License.ftr" />
    <ComponentGroupRef Id="Uninstall_RACES_Training.ftr" />
  </Feature>
</Package>

<Fragment>
  <ComponentGroup Id="RacesTraining.ftr">
    <ComponentRef Id="Help.cmp" />
    <ComponentRef Id="RACES_Training.cmp" />
  </ComponentGroup>
  <ComponentGroup Id="License.ftr">
    <ComponentRef Id="MIT_License.cmp" />
  </ComponentGroup>
  <ComponentGroup Id="Uninstall_RACES_Training.ftr">
    <ComponentRef Id="Uninstall_RACES_Training.cmp" />
  </ComponentGroup>
</Fragment>

<!--Directory structure-->
<Fragment>
  <Property Id="ApplicationFolderName" Value="RacesTraining" />
  <Property Id="WixAppFolder"          Value="WixPerMachineFolder" />

  <StandardDirectory Id="ProgramFiles6432Folder">
    <Directory Id="RACESTRAINING.PFF" Name="RacesTraining" />
  </StandardDirectory>

  <StandardDirectory Id="ProgramMenuFolder">
    <Directory Id="RACES_Training.pmf" Name="RACES Training" />
    <Directory Id="Races_Training.pmf" Name="Races Training" />
  </StandardDirectory>

  <StandardDirectory Id="DesktopFolder" />
</Fragment>

<Fragment>
  <Component Id="Help.cmp" Guid="804932D9-38E2-4A2D-BB20-73E3FC700610"
                                                                     Directory="RACESTRAINING.PFF">
    <File Id="Help.cmp"
          Source="$(var.RacesTraining.TargetDir)\..\Release.x64\RacesTraining.chm" KeyPath="yes" />
  </Component>

  <Component Id="RACES_Training.cmp" Guid="8E47FEF1-8332-4F81-B5C4-085790E163C0"
                                                                     Directory="RACESTRAINING.PFF">
    <File Id="RACES_Training.cmp"
          Source="$(var.RacesTraining.TargetDir)\..\Release.x64\RacesTraining.exe" KeyPath="yes" />

    <Shortcut Id               = "RACESTraining.shc"
              Name             = "RACES Training"
              Advertise        = "yes"
              Directory        = "RACES_Training.pmf"
              WorkingDirectory = "RACESTRAINING.PFF"
              Icon             = "RacesTraining_Icon.exe"
              />

    <Shortcut Id               = "RACESTraining.dsk"
              Name             = "RACES Training"
              Advertise        = "yes"
              Directory        = "DesktopFolder"
              WorkingDirectory = "RACESTRAINING.PFF"
              Icon             = "RacesTraining_Icon.exe"
              />
  </Component>
</Fragment>

<Fragment>
  <Component Id="MIT_License.cmp" Guid="8374CBFE-1F78-4DEB-8D3E-9ACAF76A3DAA"
                                                                     Directory="RACESTRAINING.PFF">
    <File Id="MIT_License.cmp"
                   Source="$(var.RacesTraining.TargetDir)\..\..\Library\License\MITLicenseFile.rtf"
                   KeyPath="yes" />

    <Shortcut Id               = "MITLicense.shc"
              Name             = "MIT License"
              Advertise        = "yes"
              Directory        = "Races_Training.pmf"
              WorkingDirectory = "RACESTRAINING.PFF"
              Icon             = "RacesTraining_Icon.exe"
              />
  </Component>
</Fragment>

<Fragment>
  <Component Id="Uninstall_RACES_Training.cmp"
                        Guid="C71C4572-9FF1-40C4-A705-E67C99ED7C7C" Directory="RACES_Training.pmf">

    <Shortcut Id               = "UninstallRACESTraining.shc"
              Name             = "Uninstall RACES Training"
              Description      = "Uninstalls RACES Training"
              Target           = "[System64Folder]msiexec.exe"
              Arguments        = "/x [ProductCode]"
              Icon             = "RacesTraining_Icon.exe"
              />
    <RemoveFolder Id="RACES_Training.uni" Directory="RACES_Training.pmf" On="uninstall" />
    <RemoveFolder Id="Races_Training.uni" Directory="Races_Training.pmf" On="uninstall" />
    <RegistryValue Root="HKCU" Key="Software\Uninstall_RACES_Training.cmp"
                                         Name="installed" Type="integer" Value="1" KeyPath="yes" />
  </Component>
</Fragment>
</Wix>
